body{
    background-color: white;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0px;
}

div.outer-workspace{
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid;
    text-align: -webkit-center;
    background-color: #c8e1ff;
    min-height: 750px;
}


div.single-workspace{
    display: inline-block;
    position: relative;
    border-radius: 12px;
    margin: 10px;
    min-width: 450px;
    width: 18%;
    border: 1px solid;
    height: 475px;
    background: white;
    
}

input.input-workspace{
    margin: 10px;
    display: block;
    border-radius: 4px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.button-workspace{
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    width: fit-content;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid;
    font-size: 15px;
}

.button-workspace:hover{
    background: #c8e1ff;
    transition: 100ms;
}

.show-workspace{
    -webkit-box-align: end;
    -webkit-box-pack: center;
    display: block;
    height: 455px;
    margin: 10px;
}

.sent-word {
    margin: auto;
    padding: 32% 0px 32% 0px;
    border-style: inset;
    background-color: whitesmoke;
    font-size: 75px;
    height: 100px;
}


img {
    background: white;
    margin: 10px;
}

.title-div {
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(70, 73, 122);
    height: 20px;
    padding: 15px;
}

.headerLogo, .headerHiragana, .headerKatakana, .headerKanji, .headerChart {
    color: white; 
    height: 100%;
    padding: 15px; 
}
.headerLogo:hover, .headerHiragana:hover, .headerKatakana:hover, .headerKanji:hover, .headerChart:hover {
    cursor: pointer;
    background-color: rgb(51, 53, 88);
}


