body{
    background-color: white;
    font-family: Arial,x-locale-body,sans-serif;
    margin: 0px;
}

div.outer-workspace{
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid;
    text-align: -webkit-center;
    background-color: blanchedalmond;
    min-height: 750px;
}


div.single-workspace{
    display: inline-block;
    position: relative;
    border-radius: 12px;
    margin: 10px;
    min-width: 450px;
    width: 18%;
    border: 1px solid;
    height: 475px;
    background: white;
    
}

input.input-workspace{
    margin: 10px;
    display: block;
    border-radius: 4px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.button-workspace{
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    width: fit-content;
    display: block;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid;
    font-size: 15px;
}

.button-workspace:hover{
    background: #ff9966;
    transition: 100ms;
}

.show-workspace{
    -webkit-box-align: end;
    -webkit-box-pack: center;
    display: block;
    height: 455px;
    margin: 10px;
}

.sent-word {
    margin: auto;
    padding: 32% 0px 32% 0px;
    border-style: inset;
    background-color: whitesmoke;
    font-size: 75px;
    height: 100px;
}

.chooseForm {
    margin: auto;
    display: table;
    padding: 10px;
}

.button-timer {
   padding: 5px;
   border-radius: 20px;
   border: 1px solid;
   cursor: pointer;
   text-align: center;
   margin: 5px;
}
.button-timer:hover {
    background: #ff9966;
    transition: 100ms;
}


.select-type {
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
}

:focus {
    outline: none;
}

img {
    background: white;
    margin: 10px;
}

.title-div {
    text-align: center;
}



